@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@import "tailwindcss";

* {
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  font-weight: 800;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.3px;
}

td {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-inline {
  animation: marquee 15s linear infinite;
}